@font-face {
    font-family: 'TiltPrism-Regular';
    src: url('../fonts/TiltPrism-Regular.ttf');
}

@font-face {
    font-family: 'IbarraRealNova-Italic';
    src: url('../fonts/IbarraRealNova-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'IbarraRealNova';
    src: url('../fonts/IbarraRealNova-VariableFont_wght.ttf');
}
